@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");


body {
  background-color: #F7F7F7;
  color: #4E4E4E;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

p {
  padding: 10px 0 20px 0;
}

a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #ff9900;
  font-weight: bold;
}

a:hover {
  color: #006600;
}

h3 {
  color:#006600;
  padding: 10px 0 0 0;
  font-weight:bolder;
}

.container {
  width:700px;
  margin:0 auto;
}

.card {
  background: white;
  padding: 40px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  text-align: center;
  margin:20px 0px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

.img-circle {
  border-radius: 50%;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline;
  padding: 0px 20px;
}

.btn {
  background-color: #ff9900;
  color: white;
  padding: 15px 20px;
  margin:30px;
  border-radius: 4px;
}

.fa-instagram:before {
    content: "\f16d";
    font-size: 40px;
  }

.fa-linkedin:before {
    content: "\f08c";
    font-size: 40px;
}

.fa-facebook-square:before {
    content: "\f082";
    font-size: 40px;
}

